html, body {
	height: 100%;
}

li {
	list-style-type: none;
}

#home {
	background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)), url('/imgs/chi_river.jpg');
	background-size: cover;
	height: 100%;
	margin-bottom: 0px;
}

#prof {
	border: 2px solid white;
	display: inline;
	float: left;
	position: relative;
	margin: auto;
}

#prof-alt {
	border: 2px solid black;
	display: inline;
	float: left;
	position: relative;
	margin: auto;
}

#header-box {
	float: right;
	position: relative;
	margin: auto;
	text-align: center;
}

.navbar-brand {
	position: relative;
	margin: auto;
}

#catchphrase {
	color: white;
	font-family: 'Old Standard TT';
	position: relative;
	margin: auto;
}

#catchphrase-alt {
	color: black;
	font-family: 'Old Standard TT';
	position: relative;
	margin: auto;
}

.collapse {
	position: relative;
	height: 100%;
	top: 15px;
}

.hidden {
	display: none;
}

.navbar-default {
	background-color: white;
}

.highlighted {
	border-bottom: 2px solid red;
}

#resume {
	position: relative;
	float: right;
}


#about {
	background-color: yellow;
	height: 100%;
	margin-left: -12px;
	margin-right: -12px;
}

#projects {
	background-color: blue;
	height: 100%;
	margin-left: -12px;
	margin-right: -12px;
}

#contact {
	background-color: gray;
	height: 50%;
	margin-left: -12px;
	margin-right: -12px;
}

h1 {
	color: white;
}