<!DOCTYPE html>
<html>
	<head>
		<title>The Delicate Genius</title>
		<script   src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link rel="stylesheet" type="text/css" href="/css/about.css">
		<link rel="stylesheet" type="text/css" href="/css/projects.css">
		<link rel="stylesheet" type="text/css" href="/css/contact.css">
		<script type="text/javascript" src='/js/application.js'></script>
		<script type="text/javascript" src='/js/bootstrap.js'></script>
		<script type="text/javascript" src='/js/home.js'></script>
		<script type="text/javascript" src='/js/about.js'></script>
		<script type="text/javascript" src='/js/map.js'></script>
		<script async defer src=<%= url %>></script>
	</head>
	<body data-spy='scroll' data-target='.navbar' data-offset='50'>
		<div id='home'>
			<nav class='navbar navbar-inverse'>
				<div class='container-fluid'>
					<div class='navbar-header'>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
						<img id='prof' class='img-circle' src="https://www.gravatar.com/avatar/014949849604d04119c0728854f1388c">
						<ul id='header-box'>
							<li><h3 class='navbar-brand'>BEN GIAMARINO</h3></li>
							<a id='catchphrase' href='https://www.youtube.com/watch?v=1TsdXa_7kzs' target='_blank'>The Delicate Genius</a>
						</ul>
					</div>
					<div class='collapse navbar-collapse' id='collapsable'>
						<ul class='nav navbar-nav'>
							<li class='active selectable  highlightable-inverse'><a href='#home'>Home</a></li>
							<li class='selectable highlightable-inverse'><a href='#about'>About</a></li>
							<li class='selectable highlightable-inverse'><a href='#projects'>Projects</a></li>
							<li class='selectable highlightable-inverse'><a href='#contact'>Contact</a></li>
						</ul>
						<ul class='nav navbar-nav navbar-right'>
							<li class='selectable highlightable-inverse'><a href="/docs/BENGIAMARINOResume2016.pdf">Resume</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div id='home-content'>
				<h1 id='home-banner'><b>Full-Stack Web Development</b></h1>
				<p id='home-text'>I am a full-stack web developer located in Chicago, IL. I can build a simple page or develop a full scale application. If you are looking to establish or enhance your web presence, or are an employer looking to hire, please feel free to contact me.</p>
				<div class='buttons'>
					<button type='button' class='home-contact btn btn-primary'>I Need Web Help >></button>
					<button type='button' class='home-hire btn btn-info' title='View My Most Up To Date Resume'><a class='button-link' href='/docs/BENGIAMARINOResume2016.pdf'>I'm Looking To Hire >></a></button>
				</div>
			</div>
		</div>
		<div id='about' class='container-fluid'>
			<nav class='navbar navbar-default navbar-fixed-top alt hidden'>
				<div class='container-fluid'>
					<div class='navbar-header'>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
						<img id='prof-alt' class='img-circle' src="https://www.gravatar.com/avatar/014949849604d04119c0728854f1388c">
						<ul id='header-box'>
							<li><h3 class='navbar-brand'>BEN GIAMARINO</h3></li>
							<li><p id='catchphrase-alt'>The Delicate Genius</p></li>
						</ul>
					</div>
					<div class='collapse navbar-collapse' id='collapsable'>
						<ul class='nav navbar-nav'>
							<li class='active selectable highlightable'><a href='#home'>Home</a></li>
							<li class='selectable highlightable'><a href='#about'>About</a></li>
							<li class='selectable highlightable'><a href='#projects'>Projects</a></li>
							<li class='selectable highlightable'><a href='#contact'>Contact</a></li>
						</ul>
						<ul class='nav navbar-nav navbar-right'>
							<li class='selectable highlightable'><a href="/docs/BENGIAMARINOResume2016.pdf">Resume</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div id='about-content'>
				<h1 id='about-banner'><b>A Bit About Me</b></h1>
				<div id='content-img'>
					<img id='about-img' src='/imgs/about-pic.jpeg'>
				</div>
				<div id='content-blurb'>
					<p id='about-text'>I am a full-stack developer capable in a variety of technologies. If you're looking to update an old page or start over with a fresh idea, or if you're looking to establish yourself in the modern online world, I can create a web app for that.</p>
					<p>On a personal note, I am a former mechanical engineer that recently made the investment in myself to make a career change. I attended and completed DevBootcamp in early 2016. DevBootcamp focuses on full-stack web development utilizing Ruby on Rails as a back end technology. It was the one of the best decisions I've made in my life thus far, and, as a aside, if you are interested yourself in attending a similar program or are considering a career in web development feel free to <a id='about-contact' href='#contact'>Contact Me.</a> Since then I have been immersing myself in a variety of technologies that I can leverage to help you or your business improve your web presence.</p>
					<p>I am capable in a variety of technologies, and I can develop something that fits your specific needs. Interested in quick and clean Wordpress site? I can help you. Interested in a straightforward, responsive SPA? Let's talk. Do you want a full application built from the ground up? I can do that too. I can add a crisp, lightweight interface by leveraging AngularJS as well as creating a modern look and feel to your application with BootstrapJS.</p>
					<table id='tech-table' class='table-condensed'>
						<th colspan='2'>Technology</th>
						<tbody>
							<tr>
								<td>Ruby on Rails</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 80%'>
											4/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Sinatra</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Node.js</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Wordpress</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 40%'>
											2/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>PHP</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>HTML5/CSS3</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 80%'>
											4/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>jQuery</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>AJAX</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>JavaScript</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 80%'>
											4/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>AngularJS</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Bootstrap.js</td>
								<td>
									<div class='progress'>
										<div class='progress-bar progress-bar-info' style='width: 60%'>
											3/5
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id='projects' class='container-fluid'>
			<div id='projects-content'>
				<h1 id='projects-banner'><b>Projects</b></h1>
				<div class='project-wrapper'>
					<img class='project-img' src="/imgs/acsp-laptop.jpg">
					<div class='project-descrip'>
						<h2 class='project-banner'><a href="http://capsaccounting.apps-1and1.com/">Association for Closet and Storage Professionals</a></h2>
						<p>ACSP is a national organization that sets codes of ethics and professional performance standards. They also provide a certification process to designers that meet the aforementioned standards. ACSP designers provide a variety of storage solutions such as closets, garages, entertainment centers, laundry and pantry areas, and much much more.</p>
						<ul class='tags'>
							<li><button class='tag'>Divi Theme Wordpress</button></li>
							<li><button class='tag'>MMS Integration</button></li>
							<li><button class='tag'>HTML/CSS</button></li>
							<li><button class='tag'>JavaScript</button></li>
						</ul>
					</div>
				</div>
				<div class='project-wrapper'>
					<img class='project-img' src="/imgs/ccim-laptop.jpg">
					<div class='project-descrip'>
						<h2 class='project-banner'><a href="http://s631867624.onlinehome.us/">CCIM Illinois Chapter</a></h2>
						<p>CCIM Illinois is the local branch of the national organization, CCIM Institute. The organization is a global standard for professional achievement in commercial real estate. The organization aims to provide the highest quality of marketing and networking opportunities, services, and education that will ensure members' ability to conduct their business successfully. They also offer certification to members who meet their standards of achievement.</p>
						<ul class='tags'>
							<li><button class='tag'>Divi Theme Wordpress</button></li>
							<li><button class='tag'>MMS Integration</button></li>
							<li><button class='tag'>HTML/CSS</button></li>
							<li><button class='tag'>JavaScript</button></li>
						</ul>
					</div>
				</div>
				<div class='project-wrapper'>
					<img class='project-img' src="/imgs/pca-laptop.jpg">
					<div class='project-descrip'>
						<h2 class='project-banner'><a href="http://phoenixclubaurora.com/">The Phoenix Club</a></h2>
						<p>The Phoenix club of Aurora, IL was founded in 1893. The Phoenix Club is not-for-profit organization whose aim is to foster and cultivate social, education, and business relations of the members. The Phoenix Club fosters a social environment to encourage among members closer personal acquaintance and friendly spirit of mutual cooperations, to interchange ideas in rendering mutual assistance, to provide helpful vocational advice and guidance, to forward and promote general welfare and prosperity of the members, and to improve by any and all lawful and honorable means, their status and condition.</p>
						<ul class='tags'>
							<li><button class='tag'>Ruby on Rails</button></li>
							<li><button class='tag'>SQL Database</button></li>
							<li><button class='tag'>HTML/CSS</button></li>
							<li><button class='tag'>JavaScript</button></li>
							<li><button class='tag'>jQuery</button></li>
							<li><button class='tag'>BootstrapJS</button></li>
						</ul>
					</div>
				</div>
				<div class='project-wrapper'>
					<img class='project-img' src="/imgs/slice-laptop.jpg">
					<div class='project-descrip'>
						<h2 class='project-banner'><a href="http://slice-it-app.herokuapp.com/">Slice-It</a></h2>
						<p>The Slice-It app was my capstone project for DBC. My group was a group of 4 that developed this app from pitch to MVP in 8 days. The purpose of this app is to act as a point of sale application for users. The idea is users check into restaurants that support the app on their phone. The restaurant assigns them seats and takes their order. Through an interactive interface, resturaunt users drag and drop menu items to the user's bill and sends them the bill when they are finished. The bill then comes directly to the user's phone and is viewable in an itemized fashion. A user can then opt to invite additional users to their bill similar to how an Uber ride works. Each user can then select their individual items and pay for them and tip separately. Additionally, after paying, a user can also send a text message to someone they paid for with the total for those items they paid for the other person The mobile side was created using Ionic and restaurant side is a Ruby on Rails app that also supports the mobile end through JSON.</p>
						<ul class='tags'>
							<li><button class='tag'>Ruby on Rails</button></li>
							<li><button class='tag'>SQL Database</button></li>
							<li><button class='tag'>HTML/CSS</button></li>
							<li><button class='tag'>JavaScript</button></li>
							<li><button class='tag'>jQuery</button></li>
							<li><button class='tag'>AngularJS</button></li>
							<li><button class='tag'>Ionic</button></li>
							<li><button class='tag'>JSON</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id='contact' class='container-fluid'>
			<div id='map'>
			</div>
			<div id='contact-content'>
				<h1 id='content-banner'><b>Contact Me</b></h1>
				<ul id='contact-list'>
					<li><button class='contact-button'><a href="mailto:giamarinob@gmail.com">E-Mail(preffered)</a></button></li>
					<li><button class='contact-button'><a href="tel:6308816973">630.881.6973</a></button>
				</ul>
				<p>Or feel free to find me through the links below</p>
			</div>
		</div>
		<footer>
			<p>This is the footer</p>
		</footer>
	</body>
</html>