<!DOCTYPE html>
<html>
	<head>
		<title>The Delicate Genius</title>
		<script   src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script type="text/javascript" src='/js/application.js'></script>
		<script type="text/javascript" src='/js/bootstrap.js'></script>
	</head>
	<body data-spy='scroll' data-target='.navbar' data-offset='50'>
		<div id='home'>
			<nav class='navbar navbar-inverse'>
				<div class='container-fluid'>
					<div class='navbar-header'>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
						<img id='prof' class='img-circle' src="https://www.gravatar.com/avatar/014949849604d04119c0728854f1388c">
						<ul id='header-box'>
							<li><h3 class='navbar-brand'>BEN GIAMARINO</h3></li>
							<a id='catchphrase' href='https://www.youtube.com/watch?v=1TsdXa_7kzs'>The Delicate Genius</a>
						</ul>
					</div>
					<div class='collapse navbar-collapse' id='collapsable'>
						<ul class='nav navbar-nav'>
							<li class='active selectable selectable-inverse'><a href='#home'>Home</a></li>
							<li class='selectable-inverse'><a href='#about'>About</a></li>
							<li class='selectable-inverse'><a href='#projects'>Projects</a></li>
							<li class='selectable-inverse'><a href='#contact'>Contact</a></li>
						</ul>
						<ul class='nav navbar-nav navbar-right'>
							<li class='selectable-inverse'><a href="/docs/BENGIAMARINOResume2016.pdf">Resume</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<h1>Welcome To My Website</h1>
		</div>
		<div id='about' class='container-fluid'>
			<nav class='navbar navbar-default navbar-fixed-top alt hidden'>
				<div class='container-fluid'>
					<div class='navbar-header'>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
						<img id='prof-alt' class='img-circle' src="https://www.gravatar.com/avatar/014949849604d04119c0728854f1388c">
						<ul id='header-box'>
							<li><h3 class='navbar-brand'>BEN GIAMARINO</h3></li>
							<li><p id='catchphrase-alt'>The Delicate Genius</p></li>
						</ul>
					</div>
					<div class='collapse navbar-collapse' id='collapsable'>
						<ul class='nav navbar-nav'>
							<li class='active selectable'><a href='#home'>Home</a></li>
							<li class='selectable'><a href='#about'>About</a></li>
							<li class='selectable'><a href='#projects'>Projects</a></li>
							<li class='selectable'><a href='#contact'>Contact</a></li>
						</ul>
						<ul class='nav navbar-nav navbar-right'>
							<li class='selectable'><a href="/docs/BENGIAMARINOResume2016.pdf">Resume</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div id='projects' class='container-fluid'>
		</div>
		<div id='contact' class='container-fluid'>
		</div>
		<footer>
			<p>This is the footer</p>
		</footer>
	</body>
</html>