<!DOCTYPE html>
<html>
	<head>
		<title>The Delicate Genius</title>
		<script   src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>
	<body>
		<div id='home'>
			<nav class='navbar navbar-inverse'>
				<div class='container-fluid'>
					<div class='navbar-header'>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
						<img id='prof' class='img-circle' src="https://www.gravatar.com/avatar/014949849604d04119c0728854f1388c">
						<ul id='header-box'>
							<li><h3 class='navbar-brand'>BEN GIAMARINO</h3></li>
							<li><p id='catchphrase'>The Delicate Genius</p></li>
						</ul>
					</div>
					<div class='collapse navbar-collapse' id='collapsable'>
						<ul class='nav navbar-nav'>
							<li class='active'><a href='#'>Home</a></li>
							<li><a href='#'>About</a></li>
							<li><a href='#'>Projects</a></li>
							<li><a href='#'>Contact</a></li>
						</ul>
						<ul class='nav navbar-nav navbar-right'>
							<li><a href="/docs/BENGIAMARINOResume2016.pdf">Resume</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<p>Hello World</p>
		</div>
		<div id='about'>
		</div>
		<div id='projects'>
		</div>
		<div id='contact'>
		</div>
		<footer>
			<p>This is the footer</p>
		</footer>
	</body>
</html>